.App {
  width: 100vw;
  margin-bottom: 56px;
  background-color: #E7F2F8;
  display: flex;
  justify-content: center;
  align-items: center;
}

Button.unit-button {
  text-transform: none;
}

.item-box:hover {
  background-color: #E7F2F8;
}

#header, #footer {
  background-color: #2e8292;
}